<pre>
    <div class="container">
        <div class="row">
            <div [hidden]="users.length>0" class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                
                <span class="sr-only">45% Complete</span></div>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name </th>
                        <th>Role</th>
                    </thead>
                    <tr *ngFor="let user of users ">
                        <td>{{user.username}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.role}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</pre>